body{
        min-height: 95vh;
}
body ,form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    background: aquamarine;
    width: 400px;
    padding: 40px;
    border-radius: 10%;

}

label, input {
    display: block;
}

button {
    background: greenyellow;
    border-radius: 50%;
}