<link rel="stylesheet" href="/static/css/header.css">
<header class="header">
    <div class="logo" style="width:140px;margin-left:5px">
        <span class="milan"> <a href="http://127.0.0.1:8000/admin" title="Home"> MILAN </a></span>
        <span class="italian"> Italian <span class="Restaurant"> Restaurant </span> </span>
    </div>
    <span class="menu"> Menu </span>
    <span class="booking"> Booking </span>
    <span class="gallery"> Gallery </span>
    <span class="contact"> Contact </span>
    <div class="dropdown">
        <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              <span class="icon"><a title="Login/Register">
                  <img src="../static/image/icon color.png" width="33px" height="30px"></a></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/login.html">Login</a>
            <a class="dropdown-item" href="#">Register</a>
        </div>
    </div>

</header>
